html, body {
  height: 100%;
}

body{
    box-sizing: border-box;
	background-color: #222222;
	color: #FFFFFF;
    font-family: 'Asap Condensed', verdana, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
       
}

h1 {
  text-align: center;
}

h2 {
    text-align: center;
    font-size: 1em;
    font-weight: normal;
    max-width: 100px;
    padding: 0.4em;
    border-radius: 0.2em;

}

.grid-container > div {
  padding: 0.2em 1em;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas: 
        "brandstof"
        "snelheid"
        "eten"
        "drinken"
        "gforce"
        "temperatuur"; 
}

.box1{
    grid-area: brandstof;
} 

.box2{
    grid-area: snelheid;
    background-color: #93CBCB;
}

.box3 {
  grid-area: eten;
}

.box4 {
  grid-area: drinken;
}

.box5 {
    grid-area: gforce;
    background-color: #93CBCB;
}

.box6 {
  grid-area: temperatuur;
}

/*donutchart*/
#myChart {
    width: 50%;
    align-content: center;
}
/*snelheidsmeter*/

body {
  background: #222;
}

.wrapper {
  margin: 30px auto;
  width: 200px;
}
.wrapper .speedometer {
  width: 200px;
  height: 100px;
  background: #666;
  -moz-border-radius: 200px 200px 0 0;
  -webkit-border-radius: 200px;
  border-radius: 200px 200px 0 0;
  position: relative;
}
.wrapper .speedometer .pointer {
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 0;
  height: 0;
}
.wrapper .speedometer .pointer:after {
  content: "";
  display: block;
  width: 40px;
  height: 20px;
  -moz-border-radius: 40px 40px 0 0;
  -webkit-border-radius: 40px;
  border-radius: 40px 40px 0 0;
  background: #333;
  position: absolute;
  bottom: -10px;
  left: -20px;
}
.wrapper .speedometer .pointer:before {
  content: "";
  display: block;
  position: absolute;
  left: -5px;
  bottom: 0px;
  width: 10px;
  height: 80px;
  background: #600;
  transform-origin: center 80px;
  animation: roll 3s alternate infinite;
}

@keyframes roll {
  from {
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  to {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

/*brandstof*/



/*gforce*/

.gforce, p {
    font-size: 4em;
}
/************Mid**************/
@media only screen and (min-width: 401px) and (max-width: 599px) {
  .grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 600px;
    grid-gap: 10px;
    grid-template-areas: 
        "brandstof"
        "snelheid"
        "eten"
        "drinken"
        "gforce"
        "temperatuur"; 
  }   
}

/***********Large*************/
@media only screen and (min-width: 600px) and (max-width: 959px){
  .grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    height: 600px;
    grid-gap: 10px;

    grid-template-areas: 
        "brandstof brandstof"
        "snelheid snelheid"
        "eten drinken"
        "gforce gforce"
        "temperatuur temperatuur"; 
  }
}


/************XL**************/
@media only screen and (min-width: 960px) {
  .grid-container{
    max-width: 1080px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 600px;
    grid-gap: 10px;

    grid-template-areas: 
        "brandstof snelheid temperatuur"
        "eten drinken gforce";
  }

    .box3{
        background-color: #93CBCB;
    }
}



